<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jetbrains="http://www.w3.org/1999/xhtml">
<head>
    <title>Animal Management System</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/FormStyle.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
        </div>
        <div class="col" style="height: 150px; background-image:">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
        </div>
        <div id="form_main_div" class="col-8" style="">
            <form>
                <div class="form-row">
                    <div  class="col">
                        <input type="text" class="form-control" placeholder="Türü">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Adı">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Cinsi">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Soyadı">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="İsmi">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="İletişim bilgileri">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Yaşı">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Telefon No">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Açıklama">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Eposta">
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
</body>
</html>
