<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jetbrains="http://www.w3.org/1999/xhtml">
<head>
    <title>Animal Management System</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/FormStyle.css}" rel="stylesheet">

</head>

<body>
<div>
    <div class="cat_div" >
    </div>

    <div class="container"
         style="z-index: 1;
         padding-top: 150px;
         position: absolute;
           ">
        <div class="row align-items-center" >
            <div class="col-2"></div>
            <div id="form_main_div" class="col-8" >

                <form>
                    <div class="form-row">
                        <div  class="col">
                            <label>Türü</label>
                            <input type="text" class="form-control" placeholder="Türü">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Adı">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Cinsi">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Soyadı">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="İsmi">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="İletişim bilgileri">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Yaşı">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Telefon No">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Açıklama">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Eposta">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="pet_div">
    </div>
</div>


</body>
</html>
